.bg-image {
  background-image: url(../../assets/img/fondo.png);
  max-width: 100%;
}

#root {
width: 100%;
margin-bottom: auto;

}

.btn:hover {
  background-color: brown;

}

.logo {
  width: 300px;
}

.navB {
  margin-top: 0;
  padding-top: 0;
 margin-bottom: 100px;
  justify-content: space-between;
  background-color: rgb(31, 31, 31);
  width: 100%;
  


}



.cart {
  margin-right: 30px;
}

.greetings {
  color: aliceblue;
  text-align: left;
}